doctype html
html
  head
    title TEESHOP
    block scripts
    block style  
  body
    nav#navbar
        #logo
           img(src='/static/logoo.png' alt='Logo' width='70px' height='75px')
        ul
          li.item
            a(href='#') Home
          li.item
            a(href='#') About us
          li.item
            a(href='#') Contact
          li.item
            a(href='#') Buy
          li.item
            a(href='#') Designs
        div
          button.btn Login/Register
    block content
    footer#footer
      | Copyright © 2022 Teeshop.com 