html
  head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', rel='stylesheet')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    // ---- Include the above in your HEAD tag --------
    style
      include ../static/contact.css
  body
    .container.contact-form
      .contact-image
        img(src='https://image.ibb.co/kUagtU/rocket_contact.png', alt='rocket_contact')
      form(method='post')
        h3 Drop Us a Message
        .row
          .col-md-6
            .form-group
              input.form-control(type='text', name='txtName', placeholder='Your Name *', value='')
            .form-group
              input.form-control(type='text', name='txtEmail', placeholder='Your Email *', value='')
            .form-group
              input.form-control(type='text', name='txtPhone', placeholder='Your Phone Number *', value='')
            .form-group
              input.btnContact(type='submit', name='btnSubmit', value='Send Message')
          .col-md-6
            .form-group
              textarea.form-control(name='txtMsg', placeholder='Your Message *', style='width: 100%; height: 150px;')